.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.content section {
    width: 50%;
    text-align: center;
    background-color: rgba(37, 36, 34, 0.5);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
}

.content .spotlight {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.content .spotlight div img{
    position: relative;
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 100px;
}

.content .spotlight .card-spotlight div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -80px;
} 

.content .spotlight .card-spotlight {
    display: flex;
    width: 25%;
    border-radius: 30px 2px;
    padding: 25px;
    margin-bottom: 80px;
    background-color: rgba(37, 36, 34, 0.5);
}

.content .spotlight .card-spotlight div a {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 18px;
    background-color: #ffd23f;
    border-radius: 10px 2px;
    padding: 5px 10px;
    margin-top: 20px;
}

.content .spotlight .card-spotlight div a svg {
    font-size: 20px;
    margin-bottom: -5px;
    margin-left: 5px;
}

.content .spotlight .card-spotlight:hover {
    box-shadow: 10px 10px #f5faff;
    background-color: rgba(37, 36, 34, 0.8);
    transition: 0.5s;
}

section .section-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.timeline .rs-timeline-item-custom-dot svg {
    position: absolute;
    background: #fff;
    top: -5px;
    left: -7px;
    border: 2px solid #ddd;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 0px;
    color: #000;
    margin-left: -13px;
  }

  .timeline .rs-timeline-item-content {
    margin-left: 24px;
  }
 