/* paleta de cores 
#252422
#46494c
#403d39
#4c5c68
#ffd23f*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.content section {
    width: 50%;
    text-align: center;
    background-color: rgba(37, 36, 34, 0.5);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
}

.content .spotlight .card-spotlight {
    display: flex;

}

.content .spotlight {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.content .spotlight div img{
    position: relative;
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 100px;
}