.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 21%;
    border-radius: 30px 2px;
    padding: 20px;
    margin-bottom: 80px;
    font-family: 'Cairo', sans-serif;
    background-color: rgba(37, 36, 34, 0.5);
    
}

.card:hover {
    box-shadow: 10px 10px #f5faff;
    background-color: rgba(37, 36, 34, 0.8);
    transition: 0.5s;
}

.card a{
    text-decoration: none;
    color: #000;
    background-color: #ffd23f;
    border-radius: 5px;
    padding: 5px 0px;
    width: 100px;
    text-align: center;
    margin-top: 20px;
}

.card span {
    margin-top: 10px;
}