header {
    display: flex;
    font-family: Starjedi;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(37, 36, 34, 0.8);
    padding: 20px 0px;
    margin-bottom: 20px;
}

header .menu-bar a{
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    border-radius: 10px;
    padding: 2px 10px;
    margin: 0px 20px;
    font-family: 'Cairo', sans-serif;
}

header .menu-bar svg {
    font-size: 30px;
    margin-right: 20px;
}

header .menu-bar a:hover {
     color: #ffd23f;
     border-bottom: solid 2px #ffd23f;
     transition: 0.2s;
}