footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(37, 36, 34, 0.8);
    padding: 10px;
    margin-top: 20px;
    font-family: 'Cairo', sans-serif;
}

footer span {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

footer .fonte-api a{
    text-decoration: none;
    margin: 10px;
    color: #FFF;
}

footer .fonte-api a:hover {
    color: #ffd23f;
    transition: 0.8s;
}

footer .fonte-api a svg {
    font-size: 90px;
}

footer .criador {
}

footer .criador img {
    width: 100px;
    border-radius: 50%;
}

footer .redes-sociais a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    border: solid 2px rgba(0, 0, 0, 0.0);
    border-radius: 10px;
    /* padding: 20px -0px 0px 0px; */
}

footer .redes-sociais a span {
    margin-top: 18px;
}

footer .redes-sociais a:hover {
    color: #ffd23f;
    border-color:#ffd23f;
    transition: 0.8s;
}

footer .redes-sociais a svg {
    font-size: 20px;
    margin-right: 10px;
}