* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #252422;
  color: #FFF;
  font-family: 'Cairo', sans-serif;
  background-image: url('./assets/background.webp');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main .count {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

#main .count img {
  width: 80px;
  margin: 0px 20px;
}

.navigation-page {
  display: flex;
  justify-content: center;
}

.navigation-page button {
  font-size: 15px;
  color: #000;
  background-color: #ffd23f;
  border: none;
  width: 180px;
  padding: 8px;
}

.navigation-page #btnPrevious {
  margin-right: 20px;
  border-radius: 2px 20px;
}

.navigation-page #btnNext {
  margin-left: 20px;
  border-radius: 20px 2px;
}

.navigation-page #btnPrevious:hover {
  box-shadow: 10px 10px #f5faff;
  margin-right: 50px;
  transition: 0.5s;
}

.navigation-page #btnNext:hover {
  box-shadow: -10px 10px #f5faff;
  margin-left: 50px;
  transition: 0.5s;
}

.navigation-page button svg {
  margin: -4px 5px;
  font-size: 20px;
}